body {
  background-color: #4C5C68;

  /*background: linear-gradient(linear to right, #0080aa, #838996);*/
  /*background-color: #8b8589;*/
    /*background-color: #838996;*/

  font-family: 'Cantarell', sans-serif;
  margin-top: 0;
  cursor: url(/assets/paws.png), auto;
}
.container {
  width: 1450px;
  height: 65px;

}
.header {
  display: inline-block;
  background-color: #4C5C68;
  color: #dddddd;
  width: 1225px;
  height: 60px;
  position: fixed;
  margin: 0 0 0 100px;
}


.container .header h1 {
  font-family: 'Cantarell', sans-serif;
  display: inline-block;
  float: left;
  font-size: 30px;
  margin: 0 0 0 10px;

}

.header h1 a {
  text-decoration: none;
  color: #dddddd;

}

.header .navigation {
  display: inline-block;
  margin: 0 0 0 0;
  float: right;
  width: 600px;
}
.header .navigation .icons {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}

.icons a{
  /*color: #0bc4d0;*/
  color: #dddddd;

}


.header .navigation .buttons p {
  display: inline-block;
  font-family: 'Cantarell', sans-serif;
  color: #5d5c58;
  float: left;
  width: auto;
  padding: 10px;
  margin: 0 50px 0 0;
}

.buttons a {
  font-weight: 700;
  text-decoration: none;
  /*color: #5d5c58;*/
  color: #dddddd;
  font-size: 20px;
}

.left {
  display: inline-block;
  width: 400px;
  height: 1037px;
  margin: 20px 0 0 100px;
}

.left .image {
  display: inline-block;
  width: 400px;
  height: 350px;
  float: left;
}

.left .small {
  display: inline-block;
  width: 430px;
  height: 340px;
  float: left;
  background-color: #C5C3C6;
  margin-top:390px;
}

.small p{
  font-size: 20px;
  padding: 0px 0px 0 20px;
  color: #46494C;
}

.small .fortune {
  font-size: 30px;
  padding: 10px;
  margin: 10px;
  color: #1b0d69;
  font-family: 'Poiret One', cursive;
  font-weight: bolder;
  border: 4px dotted #1b0d69;
}

.small .bold {
  font-weight: bolder;
}

.boxes {
  width: 700px;
  height: 1000px;
  margin: 20px 90px 0 0;
  display: inline-block;
  float: right;
}


.box .info1 {
  text-align: justify;
  width: 600px;
  height: 220px;
  padding: 0 90px 90px 90px;
  font-family: 'Cantarell', sans-serif;
  /*font-family: "Open Sans", sans-serif;*/
}

.box .info1 .a {
  font-weight: 700;
  text-decoration: none;
  color: #46494C;
}

 .text_above .box{
   color: #46494C;
   font-size: 16px;
   background-color: #C5C3C6;
   text-align: left;
   height: 340px;
   width: 800px;
   margin: 0 10px 5px 10px;
   float: right;

}


.text_above .box h2 {
  font-family: 'Cantarell', sans-serif;
  padding: 10px 15px 0 85px;
  font-weight: bold;
  font-size: 20px;
  /*font-family: "Open Sans", sans-serif;*/
  margin: 0;
}

.text_below .box {
  background-color: #C5C3C6;
  color: #46494C;
  float: right;
  text-align: left;
  height: 340px;
  width: 800px;
  margin: 5px 10px 0 10px;
}


 .P1 {
  display: inline-block;
  text-align: center;
  width: 231px;
  height: 330px;
  float: left;
  padding: 25px 15px 15px 15px;
}

.P1 .round {
  border-radius: 6px;
  border: 2px solid #5d5c58;;
}

 .apps {
  background-color: #C5C3C6;
  color: #46494C;
  float: right;
  text-align: left;
  height: 340px;
  width: 800px;
  margin: 50px 10px 0 0;
}

.apps .P1 {
  display: inline-block;
  text-align: center;
  width: 231px;
  height: 330px;
  float: left;
  padding: 25px 15px 15px 15px;
}

.resume .box {
  color: #46494C;
  font-size: 16px;
  background-color: #C5C3C6;
  text-align: left;
  height: 1300px;
  width: 1224px;
  margin: 20px 100px 0 90px;
  float: right;
}

.resume h2 {
  margin: 15px 0 0 40px;
}
.resume .box .deets {
  padding: 40px;
  text-align: justify;
}

.posts {
  color: #46494C;
  font-size: 16px;
  opacity: .7;
  background-color: #C5C3C6;
  text-align: left;
  height: 1300px;
  width: 1224px;
  margin: 20px 100px 0 90px;
  float: right;
}

.posts h2 {
  margin: 15px 0 0 0;
  font-weight: bolder;
}
.posts .post1 {
  padding: 40px;
  text-align: justify;
}
