<%'require Time'%>
<div class="posts">
  <div class= "post1">
    <h2>Intro to Me!</h2>
    <h3><%=Time.now.strftime("%b %e, %l:%M %p")%></h3>
    <p>Welcome to my blog! At this time, I have almost completed week 5 of Code Builders. As you can see from my website, my skillz are improving and have a ways to go. And that's why I'm here!<br>

    Last night I attended my first Seattle .rb meetup. Having attended many meetups while working for Ada, I'm happy to say that this one was great! The talks were good, there was yummy food and drinks, and many friends there to catch up with.
    </p>

  </div>
  </div>
</div>
