<html>
  <head>
    <title>Karen Hambro
    </title>
    <link rel="stylesheet" href="/css/main.css" />
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <link href="/css/hover-min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Karen Hambro</h2>
        <div class= "navigation">
          <a href= "mailto:khambro@gmail.com" class="hvr-float-shadow" ><img class="email" src="/assets/email.jpeg"></a>
          <a href= "https://www.linkedin.com/pub/karen-hambro/a/94b/349" class="hvr-float-shadow" ><img class="linkedin" src="/assets/linkedin.jpeg"/></a>
          <a href= "https://twitter.com/khambro?lang=en" class="hvr-float-shadow" ><img class="twitter" src= "/assets/twitter.jpeg"/></a>
          <a href= "https://github.com/khambro"class="hvr-float-shadow" ><img class="github" src= "/assets/github.jpeg"/></a>
        </div>
      </div>
    </div>

    <div class= "image">
      <img src="/assets/KBC.jpg"/>
    </div>



    <div class= "boxes">
      <div class= "text_above">
        <div class="box">
          <div class="info1">
            <p>Hi! I'm Karen Hambro, a software developer in training at Code Builders. I have worked in the tech industry for quite a few years, most recently with Ada Developers Academy. Having worked to place over 60 women in software development roles in local tech companies, it's now my turn to build, create, and start down the path of my own adventures in programming.
            <hr>

            I spend my free time hanging out with my dogs, hanging out with other people's dogs, kayaking, brewing beer, taking photos, relaxing with friends and family, and dancing whenever possible.
            </p>
          </div>
        </div>
      </div>

      <div class = "text_below">
        <div class = "box2">
          <h2>Three things about me:</h2>
          <div class = "P1">
            <a href="http://code.builders/"><img class="round" src="/assets/small_CB.jpg"/></a>
              <p>I've never enjoyed going to school as much as I do now</p>                                                                </div>
          <div class="P2">
            <img class="round" src="/assets/small_catalan_flag.png"/>
             <p>I spent 4 years living in Barcelona and attended graduate school there. I look forward to the day I can make it my second home</p>
          </div>
          <div class="P3">
            <img class="round" src="/assets/small_lightbground.jpeg"/>
            <p>My family is pretty great</p>
          </div>

        </div>
      </div>
    </div>



  </body>
</html>
