
  <!-- <div class="projects">
      <div class="P1">
        <img src="/assets/Yappy.jpeg"/>
          <p>"Yappy Trails" dog vacationing app allows you to plan vacations with your pooch where she's not only welcome to join, but encouraged! Coming Spring, 2016.                                                                    </p>
      </div>
      <div class="P2">
        <img src="/assets/clean.jpeg"/>
        <p>For all those households out there who haven't quite mastered the art of divying up the housework equally, "Who's taking out the trash?!" delegates chores and sends reminders! Coming Winter, 2015.</p>
      </div>
      <div class="P3">
        <img src="/assets/cookie.jpeg"/>
        <p>Inspired by dear friends, "Babe, get me a cookie" allows you to send messages to your partner informing them to bring you a cookie without you even having to speak. They'll even be electronically thanked upon cookie delivery.</p>
      </div>
  </div> -->

  <!-- <div class= "info2">
    <p>Generally the first to hit the dance floor</p>
  </div>

  <div class= "info3">
    <p>Proud dog mom of two fabulous rescue mutts and the owner of a pet care business</p>
  </div>

  <div class= "info4">
    <p>Former resident of Barcelona, España and aspiring future resident of Barcelona, España</p> -->
