<html>
  <head>
    <title>Karen Hambro
    </title>
    <link rel="stylesheet" href="/css/main.css" />
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <link href="/css/hover-min.css" rel="stylesheet">
  </head>
  <body>

    <div class= "resume">
        <div class="box">
          <h2>Résumé</h2>
          <div class="deets">
            <h3>Experience</h3>
            <h4>Ada Developers Academy // Seattle, WA // July, 2014 - October, 2015 </h4>
            <p>Sponsorship & Engagement Manager</p>
            <ul>
              <li>Managed the engagement, sponsorship sales, contract and invoicing, internship placement, intern-employee transition, and ongoing relationship with over 30 Seattle tech companies</li>
              <li>Fostered collaborative working relationships with partnering companies to continuously address the technological skill needs for software development teams in the Seattle community</li>
              <li>Qualitatively and quantitatively evaluated the success of our interns and graduates in their host companies to build upon our curriculum and continuously improve the outcomes of the program as a whole</li>
            </ul>
            <h4>Lifelong AIDS Alliance // Seattle, WA // November, 2013 - April, 2015 </h4>
            <p>Insurance Program Manager</p>
            <ul>
              <li>Developed and managed the policies and procedures, program standards, and evaluations of the Insurance Program to ensure the program is responding to the needs of clients and following program parameters as defined by the WA State Department of Health</li>
              <li>Led the transitioning of the program to meet all new standards and regulations of the Affordable Care Act</li>
              <li>Supervised the program’s operations staff, including the agency’s Database Administrator and QA Analyst</li>
              <li>Oversaw the data analysis and weekly and monthly client level data reporting to the WA State Department of Health</li>
              <li>Led the Data Integrity Task Force on client record data cleanup for the transition to an agency-wide CRM database</li>
              <li>Oversaw and managed accounts payable, billing procedures, and cash flow of a $23 million per year insurance premium program</li>
            </ul>
            <h4>Clarity Health Services // Seattle, WA // April, 2010 - October, 2012 </h4>
            <p>Provider Relations/Service Center Supervisor</p>
            <ul>
              <li>Supervised the customer service center to coordinate patient care among primary and specialty medical practices through a unique web based care management application allowing for the secure exchange of patient data, medical records, and ensuring patient care accountability</li>
              <li>Conducted the quality assurance of patient medical referrals and oversaw the escalation process</li>
              <li>Analyzed the customer experience and adjust service levels and staffing to improve outcomes</li>
              <li>Managed web account access with various insurance providers and authorization portals, obtaining insurance eligibility information and procedure authorizations using ICD-9 and CPT coding systems for patients from a vast array of insurance companies</li>
              <li>Trained members in the service department on insurance verification, obtaining insurance authorizations and communicating with medical provider offices to provide the highest level of customer service</li>
              <li>Led training webinars for medical office staff on service updates</li>
              <li>Oversaw and maintained the provider database using Microsoft Dynamics CRM</li>
            </ul>
            <h3>Education</h3>
            <h4>Master's Degree in Public Policy // Barcelona, Spain // Graduated July, 2007</h4>
            <p>Universitat Pompeu Fabra in collaboration with Johns Hopkins University</p>
            <h4>John Hopkins’ Fall Institute in Public Health // Barcelona, Spain // Fall, 2006</h4>
            <p>Certificates obtained in “Political, Economic, and Social Determinants in Public Health” and “Community Interventions for Reducing Inequalities”</p>
            <h4>Bachelor of Arts Degree// Portland, Oregon // Graduated May, 2004</h4>
            <p>Lewis & Clark College, BA in Sociology/Anthropology</p>

          </div>
        </div>
      </div>

        </div>
      </div>
    </div>



  </body>
</html>
