body {
  font-family: 'Merriweather', serif;
  margin-top: 0;
  cursor: image-url("paws.png"), auto;
}

.container {
  background-color: rgba(245, 245, 245, 0.7);
  width: 1450px;
  height: 65px;

}

.header {
  display: inline-block;
  background-color: #FFFFFF;
  color: black;
  width: 100%;
  // width: 1225px;
  height: 60px;
  position: fixed;
  padding: 0 0 0 100px;
}


.container .header h1 {
  display: inline-block;
  float: left;
  font-size: 30px;
  margin: 0 0 0 10px;
  color: black;

}

.header h1 a {
  text-decoration: none;
  color: black;

}

.header .navigation {
  display: inline-block;
  margin: 0 0 0 0;
  float: right;
  width: 600px;
}
.header .navigation .icons {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}

.icons a{
  color: black;
}


.header .navigation .buttons p {
  display: inline-block;

  color: black;
  float: left;
  width: auto;
  padding: 10px;
  margin: 0 50px 0 0;
}

.buttons a {
  font-weight: 700;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.upper {
  display: inline-block;
  background-image: image-url("karen.jpg");
  background-color: rgba(212, 110, 59, 1.0);
  width:100%;
  height:480px;
  background-size:cover;
  background-position:center;
  background-repeat: no-repeat;
}

.upper h2 {
  float: right;
  padding: 75px 50px 150px 50px;
  color: black;
}

.center {
  display: inline-block;
  width: 100%;
  height:480px;
  background-size:cover;
  background-position:center;

}

.center h2 {
  text-align: center;
  padding: 25px;
}

.apps {
 display: inline-block;
 text-align: center;
 color: #46494C;
 height: 340px;
 width: 100%;

}

.apps .P1 {
  display: inline-block;
  width: 231px;
  height: 330px;
  padding: 25px 40px 15px 40px;

}


.lower {
  background-color: rgba(227, 127, 9, 0.8);
  width: 100%;
  height:480px;
}

.lower h2 {
  font-size: 40px;
  text-align: left;
  padding: 10px 0 0 200px;

}

.lower p {
  text-align: left;
  padding: 0 300px 20px 200px;
}

.lower .fortune {
  display: inline-block;
  padding: 50px 10px 0 200px;
  font-style: italic;
}

.lower .fortunes {
  display: inline-block;
  font-style: italic;
}

.left {
  display: inline-block;
  width: 400px;
  height: 1037px;
  margin: 20px 0 0 100px;
}

.left .image {
  display: inline-block;
  width: 400px;
  height: 350px;
  float: left;
}

.left .small {
  display: inline-block;
  width: 430px;
  height: 340px;
  float: left;
  background-color: #C5C3C6;
  margin-top:390px;
}

.small p{
  font-size: 15px;
  padding: 0px 0px 0 20px;
  color: #46494C;
}

.small .fortune {
  font-size: 30px;
  padding: 10px;
  margin: 40px;
  color: #4C5C68;
  font-family: 'Poiret One', cursive;
  font-weight: bolder;
  border: 4px dotted #4C5C68;
}

.small .bold {
  font-weight: bolder;
}

.boxes {
  width: 700px;
  height: 1000px;
  margin: 20px 90px 0 0;
  display: inline-block;
  float: right;
}


.box .info1 {
  text-align: left;
  width: 600px;
  height: 220px;
  padding: 0 90px 90px 90px;
  font-family: 'Cantarell', sans-serif;
  /*font-family: "Open Sans", sans-serif;*/
}

.box .info1 .a {
  font-weight: 700;
  text-decoration: none;
  color: #46494C;
}

 .text_above .box{
   color: #46494C;
   font-size: 16px;
   background-color: #C5C3C6;
   text-align: left;
   height: 340px;
   width: 800px;
   margin: 0 10px 0 10px;
   float: right;

}


.text_above .box h2 {
  font-family: 'Cantarell', sans-serif;
  padding: 10px 15px 0 85px;
  font-weight: bold;
  font-size: 40px;
  /*font-family: "Open Sans", sans-serif;*/
  margin: 0;
}

.text_below .box {
  background-color: #C5C3C6;
  color: #46494C;
  float: right;
  text-align: left;
  height: 350px;
  width: 800px;
  margin: 0 10px 0 10px;
}




// .P1 .round {
//   border-radius: 6px;
//   border: 2px solid #5d5c58;;
// }



.resume .box {
  color: #46494C;
  font-size: 16px;
  background-color: rgba(249, 239, 245, 0.3);
  // background-color: #f5f9f4;
  text-align: left;
  height: 1300px;
  width: 1224px;
  margin: 20px 100px 0 90px;
  float: right;
}

.resume h2 {
  margin: 15px 0 0 40px;
}
.resume .box .deets {
  padding: 40px;
  text-align: justify;
}

.posts {
  color: #46494C;
  font-size: 16px;
  background-color: #C5C3C6;
  text-align: left;
  height: 1300px;
  width: 1224px;
  margin: 20px 100px 0 90px;
  float: right;
}

.posts h2 {
  margin: 15px 0 0 0;
  font-weight: bolder;
}
.posts .post1 {
  padding: 40px;
  text-align: justify;
}
